/* Grundlegendes Layout und Styles */
body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url("../img/gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #A7A3EFCC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: #36009C;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed; /* Fixiert den Footer am Bildschirmrand */
    bottom: 0; /* Platzierung am unteren Rand */
    width: 100%; /* Stellt sicher, dass der Footer die gesamte Breite abdeckt */
    z-index: 100; /* Damit der Footer immer sichtbar bleibt */
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
}

/* Multiple-Choice-Fragen */
.question-container {
    max-width: 40%;
    background-color: #A7A3EFCC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.question-container h2 {
    font-size: 1.5em;
    margin: 1em;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answers label {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}

button{
    background-color:white;
    border: none;
    color: #D9D9D9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
}

button:hover {
    background-color: #D9D9D9; /* Green */
    color: white;
  }

/* Verstecke das Standard Radio Button */
.answers input[type="radio"] {
    display: none;
}

/* Erstelle einen benutzerdefinierten Radio Button */
.answers label:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Wenn das Radio-Input ausgewählt ist */
.answers input[type="radio"]:checked + label:before {
    background-color: white;
    border-color: white;
}

/* Balkendiagramm-Platzhalter */
.chart-container {
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
}

.chart-placeholder {
    height: 200px;
    background-color: #e1e1e1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}


/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .question-container {
        width: 90%;
    }
}
